script(type="text/javascript" src="jquery/dist/jquery.min.js")
script(type="text/javascript" src="bootstrap-sass/assets/javascripts/bootstrap.min.js")
script(type="text/javascript" src="javascripts/custom.js")