nav.navbar.navbar-default.navbar-fixed-top
	.container-fluid
		.navbar-header
			button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='#') Go' Service
		#navbar.collapse.navbar-collapse
			ul.nav.navbar-nav.navbar-right
				li
					a(href='#') HJEM
				li
					a(href='#about') TJENESTER
				li
					a(href='#about') OM OSS
				li
					a(href='#calculator') PRISKALKULATOR
				li
					a(href='#contact') KONTAKT OSS
					
