.container-fluid
    .row
        .col-sm-3
            h3 Oppsummering
            div Total pris: <b> {{totalPrice}} </b>
            div(v-if="serviceType") Type tjeneste: <b> {{serviceType}} </b>
            div(v-if="periodicService") Type periodisk vask: <b> {{periodicService}} </b>
            ul 
                li(v-if="windowSide.inside") Innvendig
                li(v-if="windowSide.outside") Utvendig
                li(v-if="gulvbehandling.boning") Boning
                li(v-if="gulvbehandling.skuring") skuring
                li(v-if="byggEkstra.silicon") Skrape silicon
                li(v-if="byggEkstra.paint") Skrape maling
            div(v-if="numberOfKvm") Antall kvadratmeter: {{numberOfKvm}} m&#178;

        .col-md-8
            .question(v-bind:class="[activeQuestion === 'servicesQuestion' ? 'active' : '' ]")
                h3 Hva kan vi hjelpe deg med?
                each bText in ['Daglig vask', 'Periodisk vask', 'Gulvbehandling', 'Flyttevask', 'Tilleggstjenester']
                    .button(v-on:click="setServiceType")= bText

            .question(v-bind:class="[activeQuestion === 'periodicQuestion' ? 'active' : '' ]")
                h3 Hvilken type periodisk vask trenger du?
                each bText in ['Vindusvask', 'Byggvask', 'Nedvask', 'Tepperens']
                    .button(v-on:click="setPeriodicService")= bText

            .question(v-bind:class="[activeQuestion === 'extraQuestion' ? 'active' : '' ]")
                h3 Hva kan vi hjelpe deg med?
                each bText in ['Brøyting/salting']
                    .button(v-on:click="setPeriodicService")= bText

            .question(v-bind:class="[activeQuestion === 'kvmQuestion' ? 'active' : '' ]")
                h3 Hvor mange kvadratmeter gjelder det?
                input(type="number" v-model="numberOfKvm")
                .button(v-on:click="finish") Videre

            .question(v-bind:class="[activeQuestion === 'windowQuestion' ? 'active' : '' ]")
                h3 Angi hvilke sider du vil ha vasket?
                input#checkboxInside(type="checkbox" v-model="windowSide.inside")
                label(for="checkboxInside") Innvendig
                input#checkboxOutside(type="checkbox" v-model="windowSide.outside")
                label(for="checkboxOutside") Utvendig
                .button(v-on:click="setKvm") Videre

            .question(v-bind:class="[activeQuestion === 'floorQuestion' ? 'active' : '' ]")
                h3 Angi type gulvbehandling?
                input#checkboxInside(type="checkbox" v-model="gulvbehandling.boning")
                label(for="checkboxBoning") Boning
                input#checkboxOutside(type="checkbox" v-model="gulvbehandling.skuring")
                label(for="checkboxSkuring") Skuring
                .button(v-on:click="setKvm") Videre

            .question(v-bind:class="[activeQuestion === 'byggQuestion' ? 'active' : '' ]")
                h3 Ekstra jobb som må gjøres?
                input#checkboxInside(type="checkbox" v-model="byggEkstra.silicon")
                label(for="checkboxSilicon") Skrape silicon
                input#checkboxOutside(type="checkbox" v-model="byggEkstra.paint")
                label(for="checkboxPaint") Skrape maling
                .button(v-on:click="setKvm") Videre

            .question(v-bind:class="[activeQuestion === 'winterQuestion' ? 'active' : '' ]")
                h3 Hva ønsker du å utføre?
                input#checkboxInside(type="checkbox" v-model="winter.broyting")
                label(for="checkboxBroyting") Brøyting
                input#checkboxOutside(type="checkbox" v-model="winter.salting")
                label(for="checkboxSalting") Salting
                .button(v-on:click="setKvm") Videre

            .question(v-bind:class="[activeQuestion === 'finish' ? 'active' : '' ]")
                div Total pris: <b> {{totalPrice}} </b>
                ul
                    li Type tjeneste: <b> {{serviceType}} </b>
                    li(v-if="periodicService") Type periodisk vask: <b> {{periodicService}} </b>
                    li(v-if="windowSide.inside") Innvendig
                    li(v-if="windowSide.outside") Utvendig
                    li(v-if="numberOfKvm") Antall kvadratmeter: {{numberOfKvm}} m&#178;

