.container-fluid
    transition(name="fade" v-on:after-enter="welcomeScreen = true")
        .calculator-widget-container(v-if="widgetActive")
            transition(name="fade" v-on:leave="resetData")
                span.startOver(v-show="activeQuestion != 'servicesQuestion'" v-on:click="next('servicesQuestion')") Begynne på nytt?
            transition(name="fade" v-on:after-enter="welcomeScreen = false" v-on:after-leave="widgetContentActive = true")
                .welcome-screen(v-if="welcomeScreen")
                    span Hallo
            transition(name="fade")
                .calculator-widget-content(v-if="widgetContentActive")
                    transition-group(name="fade" v-on:after-leave="activeQuestion = nextQuestion")
                        .question(v-if="activeQuestion === 'servicesQuestion'" key="servicesQuestion")
                            h3 Hva kan vi hjelpe deg med?
                            .button(v-for="bText in ['Daglig vask', 'Periodisk vask', 'Gulvbehandling', 'Flyttevask', 'Tilleggstjenester']" 
                                v-on:click="setServiceType") {{bText}}
                                
                        .question(v-if="activeQuestion === 'periodicQuestion'" key="periodicQuestion")
                            h3 Hvilken type periodisk vask trenger du?
                            each bText in ['Vindusvask', 'Byggvask', 'Nedvask', 'Tepperens']
                                .button(v-on:click="setPeriodicService")= bText

                        .question(v-if="activeQuestion === 'extraQuestion'" key="extraQuestion")
                            h3 Hva kan vi hjelpe deg med?
                            each bText in ['Brøyting/salting']
                                .button(v-on:click="setExtraService")= bText

                        .question(v-if="activeQuestion === 'kvmQuestion'" key="kvmQuestion")
                            h3 Hvor mange kvadratmeter gjelder det?
                            form(v-on:submit.prevent="finish").textInput-container
                                input(type="number" v-model="numberOfKvm" autofocus required).textInput
                                span.enhet m&#178;
                                input.button(type="submit" value="Videre") 
                            
                        .question(v-if="activeQuestion === 'kgSaltQuestion'" key="kgSaltQuestion")
                            h3 Hvor mange kilo salt trengs det?
                            form(v-on:submit.prevent="next('winterHoursQuestion')").textInput-container
                                input(type="number" v-model="numberOfKgSalt" autofocus required).textInput
                                span.enhet kg
                                input.button(type="submit" value="Videre")

                        .question(v-if="activeQuestion === 'winterHoursQuestion'" key="winterHoursQuestion")
                            h3 Hvor mange timer arbeid trengs det?
                            form(v-on:submit.prevent="finish").textInput-container
                                input(type="number" v-model="numberOfWinterHours" autofocus required).textInput
                                span.enhet timer
                                input.button(type="submit" value="Videre")
                    
                        .question(v-if="activeQuestion === 'windowQuestion'" key="windowQuestion")
                            h3 Angi hvilke sider du vil ha vasket?
                            .checkboxInput-container
                                input#checkboxInside(type="checkbox" v-model="vindusvask.inside")
                                label(for="checkboxInside").customCheckbox
                                span Innvendig
                            .checkboxInput-container
                                input#checkboxOutside(type="checkbox" v-model="vindusvask.outside")
                                label(for="checkboxOutside").customCheckbox
                                span Utvendig
                            .button.small(v-on:click="next('kvmQuestion')") Videre

                        .question(v-if="activeQuestion === 'floorQuestion'" key="floorQuestion")
                            h3 Angi type gulvbehandling?
                            .checkboxInput-container
                                input#checkboxBoning(type="checkbox" v-model="gulvbehandling.boning")
                                label(for="checkboxBoning").customCheckbox
                                span Boning
                            .checkboxInput-container
                                input#checkboxSkuring(type="checkbox" v-model="gulvbehandling.skuring")
                                label(for="checkboxSkuring").customCheckbox 
                                span Skuring
                            .button.small(v-on:click="next('kvmQuestion')") Videre

                        .question(v-if="activeQuestion === 'byggQuestion'" key="byggQuestion")
                            h3 Ekstra jobb som må gjøres?
                            .checkboxInput-container
                                input#checkboxSilicon(type="checkbox" v-model="byggvask.silicon")
                                label(for="checkboxSilicon").customCheckbox 
                                span Skrape silicon
                            .checkboxInput-container
                                input#checkboxMaling(type="checkbox" v-model="byggvask.maling")
                                label(for="checkboxMaling").customCheckbox
                                span Skrape maling
                            .button.small(v-on:click="next('kvmQuestion')") Videre

                        .question(v-if="activeQuestion === 'winterQuestion'" key="winterQuestion")
                            h3 Hva ønsker du å utføre?
                            .checkboxInput-container
                                input#checkboxBroyting(type="checkbox" v-model="winter.broyting").customCheckbox
                                label(for="checkboxBroyting") 
                                span Brøyting
                            .checkboxInput-container
                                input#checkboxSalting(type="checkbox" v-model="winter.salting").customCheckbox
                                label(for="checkboxSalting") 
                                span Salting
                            .button.small(v-on:click="ifSalt('kgSaltQuestion')") Videre
                    
                        .question.summary(v-if="activeQuestion === 'finish'" key="finish")
                            .summary-header
                                h3 Oppsummering
                            .firstCol
                                span.main Type tjeneste:
                                span.sous(v-if="extra") - Tillegg:
                                br
                                span.main(v-if="serviceType != 'Tilleggstjenester'") Antall kvadratmeter:
                                span.main(v-if="numberOfWinterHours") Antall timer:
                                span.main(v-if="numberOfKgSalt") Mengde salt:
                                br
                                span.main Total pris:
                            .secondCol
                                span.value {{serviceType}}
                                span.value {{extra}}
                                br
                                .kvm-container(v-if="serviceType != 'Tilleggstjenester'")
                                    input.edit-Input(v-if="editKvmText == 'Ferdig'" type="number" v-model="numberOfKvm" required autofocus)
                                    span.value(v-else) {{numberOfKvm}} m&#178;
                                    span.edit(v-on:click="editKvmText = editKvmText == 'Endre' ? 'Ferdig' : 'Endre'") {{editKvmText}}
                                span.value(v-if="numberOfWinterHours") {{numberOfWinterHours}} timer
                                span.value(v-if="numberOfKgSalt") {{numberOfKgSalt}} kg
                                br
                                span.value.price {{totalPrice}},- <div class="mva"> ekskl. mva</div>
                            p.nb NB! Denne prisen er bare en prisantydning. Send en en forespørsel til oss for å få en nøyaktig pris.
                            .send.button.small(v-on:click="next('contact')") Send til oss

                        .question.contact(v-if="activeQuestion === 'contact'" key="contact")
                            h3 Prisforespørsel
                            .textInput-container
                                input(type="text" placeholder="Navn/Bedrift" v-model="contact.name" autofocus required).textInput
                            .textInput-container
                                input(type="mail" placeholder="E-post" v-model="contact.email" required).textInput
                            .textInput-container
                                textarea(placeholder="Melding" v-model="contact.message" rows="5").textInput.textareainput
                            .button() Send