
h2 Våre tjenester
.widget-container
  .button-container
    a(href="#daglig-vask" data-id="1").widget-button.first-services-button Daglig vask
    a(href="#periodiske-vask" data-id="1").widget-button Periodiske vask
    a(href="#gulvbehandling" data-id="1").widget-button Gulvbehandling
    a(href="#flyttevask" data-id="1").widget-button Flyttevask
    a(href="#tilleggstjenester" data-id="1").widget-button Tilleggstjenester
  .widget-first-line-1
  .widget-content-container
    #daglig-vask
      .widget-content
        h3 Daglig vask
        .text-container
          p Vi jobber regelmessig hver uke eller i en bestemt tid for opprydding og rengjøring av deres lokal. 
            |Våre ansatte har både ansvar for vask og avfallskasting. Ukentlig vedlikehold er garanti for å 
            |opprettholde rengjøringen i din eiendom eller lokal. Om du som kunde ikke skulle være til stede en 
            |periode, har vi mulighet for sporadisk vedlikehold. Vi tilpasser våre renholdsplaner etter ditt behov.
        .icon
          include ../icons/bucket.svg
    #periodiske-vask
      .carousel-container
        .carousel-slide.active
          .widget-content
            h3 Vindusvask
            .text-container
              p I tillegg til rengjøring og vedlikehold av privat hus, kontorer og lokaler, er vårt profesjonelle team 
                |ansvarlig for å gi kontorer eller hus rene vinduer og en lysere hverdag, både for private kunder og bedrifter. 
                |Vi tar oss av vedlikehold og rengjøring av vinduer, vinterhager, rengjøring av glassheiser og fjerning av kalk 
                |på glassoverflater.
            .icon
              include ../icons/vindu.svg
        .carousel-slide
          .widget-content
            h3 Byggvask
            .text-container
              p Hastigheten og effektiviteten avhenger av erfaring og utstyr. Vi rydder og vasker lokalene etter byggearbeid for 
                |å forvandle området til et rent og luftig miljø. Vi tar oss av rengjøring i- og etter oppussing og ombygging. 
                |Ja, vi gir våre kunder trygghets garanti. Byggvask og rengjøring:
            .icon
              include ../icons/bygg.svg
        .carousel-slide
          .widget-content
            h3 Nedvask
            .text-container
              p Trenger du en stor vårrengjøring eller nedvask? Skal du flytte ut og ønsker å vaske ned ditt hjem eller dine lokaler? 
                |Har du ikke nok tid til å utføre dette tungt arbeidet på egenhånd, er Go’ Service løsningen. Vi tilbyr nedvask tilpasset 
                |dine behov for å vaske din eiendom fra bunnen til minste detaljer. Vi tar oss av alt!
            .icon.wide
              include ../icons/vacuum.svg
        .carousel-slide
          .widget-content
            h3 Tepperens
            .text-container
              p Først undersøker vi tepper og matter for å finne den beste metoden for rengjøring og rensing. Vi gir spesielle behandlinger
                |for å fjerne de mest utfordrende flekkene. Våre eksperter vasker tepper, stoffmøbler, sofaer o.l. ved hjelp av spesifikke 
                |sjampo og effektiv børstning som er trygt og skånsomt mot dine eiendeler. Enten gjenstanden er laget av naturlige eller 
                |syntetiske materialer, vil våre ansatte gjøre dem god som ny.
            .icon.wide
              include ../icons/teppe.svg
        a.button.prev &#10094;
        a.button.next &#10095;
    #gulvbehandling
      .widget-content
        h3 Boning/skuring
        .text-container
          p Vi tenker på alle situasjoner. Vi tilbyr en profesjonell tjeneste for rengjøring og vedlikehold av flisgulv, 
            |teppebelagte gulv, parkett, betonggulv, laminat og linoleum. Vi ser på gulv som den viktigste delen av et rom, 
            |dermed tilbyr vi gulvrenholdstjenester spesielt tilpasset industrigulv, privat hus gulv, kontorgulv osv.
        .icon
          include ../icons/skuremaskin2.svg
    #flyttevask
      .widget-content
        h3 Flyttevask/utevask
        .text-container
          p .Go’ Service garanterer deg å fylle opp de strenge kravene en flyttevask krever. Å flytte innebærer at vi ligger 
            |dårlig med tid, men med din tillit er det ikke mange som kan love å fullføre arbeidet effektivt og fortsatt kan 
            |garantere like god kvalitet. Med det kan vi! Lokalene vil bli vasket ned av profesjonelle for et hygienisk resultat.
        .icon
          include ../icons/flyttevask.svg
    #tilleggstjenester
      .widget-content
        h3 Brøyting/salting
        .text-container
          p I tillegg til rengjøring og vedlikehold av privat hus, kontorer og lokaler, er vårt profesjonelle team 
            |ansvarlig for å gi kontorer eller hus rene vinduer og en lysere hverdag, både for private kunder og bedrifter. 
            |Vi tar oss av vedlikehold og rengjøring av vinduer, vinterhager, rengjøring av glassheiser og fjerning av kalk 
            |på glassoverflater.