h2 Hvorfor velge oss?
.widget-container
  .button-container
    a(href="#forretningsfilosofi" data-id="2").widget-button Forretningsfilosofi
    a(href="#tilgjengelighet" data-id="2").widget-button Tilgjengelighet
    a(href="#fornoyd-garanti" data-id="2").widget-button Fornøyd garanti
    a(href="#offentlig-godkjent" data-id="2").widget-button Offentlig godkjent
    a(href="#referanser" data-id="2").widget-button Referanser
  .widget-first-line-2
  .widget-content-container
    #forretningsfilosofi
      .widget-content
        h3 Forrentingsfilosofi
        .text-container.no-media
          p.much-text Vår forretningsfilosofi er å ha direkte kontakt med våre kunder. Vår måte å behandle kunden er verdsatt 
            |av både våre partnere og våre kunder. Personlige og tilpasset metode og rengjøringsplaner er våre nøkle 
            |aktiviteter. I Go’ Service AS er du ikke behandlet som et tall, men som en viktig person! Vår prioritet 
            |er å holde hygiene og renslighet høyt der vi jobber, derfor tilbyr vi bredt utvalg med renholdstjenester. 
            |Våre ansatte er erfarent og godt opplært. I tillegg følger vi tett opp på alle oppdragene våre. Vi garanterer 
            |et arbeid av kvalitet og er tilgjengelige for alle typer oppdrag.
    #tilgjengelighet
      .widget-content
        h3 Tilgjengelighet
        .text-container
          p Per dags dato påtar vi oss for det meste oppdragene lokalt. Men om det skulle være behov andre steder og kunden 
            |ikke har alternative valg, vil Go’ Service AS være tilgjengelig for å finne en løsning. Vi kommer enten det skulle 
            |være for en samtale, ved kort varsel eller akutt situasjon. </br> Vi kan kontaktes, når som helst på dagen eller kvelden.
        .media
          img(src="images/tilgjengelig.png")
    #fornoyd-garanti
      .widget-content
        h3 Fornøyd garanti
        .text-container
          p.very-much-text Go’ Service er glade for å tilby sine kunder fornøyd garanti. Denne garantien gjelder for alle individuelle 
            |tjenester. Når som helst i løpet av første 24t etter utført oppdrag har du rett til å reklamere, dersom
            | du ikke er fornøyd med resultatet. Vår prioritet er at våre tjenester tilfredsstiller vår kunde. Derfor er 
            |kommunikasjon med kunden svær viktig for oss. Så vi garanterer kvalitet og eksepsjonell service når som helst. 
            |Go’ Service er tilgjengelig til å svare på alle dine spørsmål om bestillingen av oppdrag, fornøyd garanti ordning og 
            |våre tjenester.Du er hjertelig velkommen til å ta kontakt med oss på telefon, e-post eller via vårt kontaktskjemaet.
        .media
          img(src="images/garanti.png")
    #offentlig-godkjent
      .widget-content
        h3 Offentlig godkjent
        .text-container
          p.much-text Godkjenning er formell anerkjennelse som kommer fra arbeidstilsynet. Bedriften har kunnskap og kvalifikasjoner som er 
            |nødvendige for å få en profesjonell betegnelse og for å oppfylle de spesifikke kompetansekrav knyttet til området på sitt felt. 
            |Godkjenning er en autorisasjon for å utøve et yrke eller aktivitet i et gitt område. </br> Go’ Service AS er en offentlig godkjent 
            |renholdsbedrift. Vi følger arbeidstilsynets sine krav og oppfyller forskriftet om godkjenning av renholdsvirksomheter. Ta 
            |kontakt med oss om mer informasjon om det eller besøk arbeidstilsynets hjemmesider her.
        .media
          img(src="images/offentlig-godkjent.png")
    #referanser
      .widget-content
        h3 Referanser
        .text-container
          p.much-text Go Service er din rengjørings partneren i Bergen … For over 7 år, har Go’ Services erfaring i svært mange ulike områder: privat hus, 
            |industrilokaler, banker, butikker, bilforretninger, barnehager, skoler, lager, etc. Og vi fortsetter å vokse. Vi ønsker også å takke 
            |alle våre partnere for deres lojalitet og tillit til oss! <br><br>Noen av våre partnere:
  .widget-bottom-line
  .widget-bottom-circle