extends ./layouts/layout
block content
  header
    .video-container
      video.video(loop muted)
        source(src="videos/video.mp4")
        |no suppor
      .video-overlay
  .post-header
    p Go’ Service AS tar seg av ditt hus rengjøring. 
      |Våre renholdstjenester i Bergen og omegn er helt fleksible. 
      |Du kan velge å ha huset ditt eller kontoret ditt rengjort av oss så ofte du vil. 
      |Prøv vår nye priskalkulator.
    a(href="calculator") Priskalkulator
  .floating-image-container
    img(src="images/pexels1.jpg")
    .content
      h2 GO' SERVICE AS
      p Et bredt utvalg av renholdstjenester og tjenestelevering i Bergen og omegn både for private kunder og bedrifter
      a Våre tjenester
  include ./widgets/services-widget
  #partner-section
    h2 Noen av våre partnere
    .container-fluid
      .partner-logo
        img(src="images/abs.png")
      .partner-logo
        img(src="images/Bergen-Renhold.png")
      .partner-logo
        img(src="images/care.png")
      .partner-logo
        img(src="images/renpluss.png")
      .partner-logo
        img(src="images/bergenflytte.png")
    img(src="images/fancy-invert-flipped.svg").fancy-section
  section#calculator-section
    .start-container(v-if="!widgetActive")
      transition-group(v-on:after-leave="widgetActive = true" v-on:leave="startLeave" v-bind:css="false")
        h2(v-if="startActive" key="header" data-index="1") Priskalkulator
        p(v-if="startActive" key="text" data-index="2") Prøv vårt nye interaktive priskalkulator. Finn ut hvor mye det vil koste for deg umiddelbart. 
          |Velg mellom alle våre tjenester og legg til informasjon om arbeidsomfanget, så vil du få en veiledende pris.
        .button(v-if="startActive" @click="startActive = false" key="button" data-index="3").last Start priskalkulator
    include ./widgets/calculator-widget
  section#about
    img(src="images/fancy-invert-shadow.svg").fancy-section
    .content-section
      h2 Om oss
      p Go’ Service AS er en seriøs aktør innen tjenestelevering. Per idag består dette hovedsakelig innen et bredt utvalg av renholdtjenester.
      span I Go’ Service AS vil vi ALLTID prioritere og forbedre oss i:
      ul
        each val in ['Nøyaktighet', 'Hjelpsomhet', 'Tilfredstille kunde', 'Stå på vilje', 'Høflighet', 'Ærlighet']
          li= val
    .image-section
      img(src="images/vacuum-cleaner.jpg")
  section#why-us
    h2 Hvorfor velge oss?
    include ./widgets/why-us-widget