extends ./layouts/layout
block content
  header
    .video-container
      video.video(autoplay loop muted)
        source(src="videos/GoServiceHeroMovie.mp4")
        |no support
      //.nav-overlay
      .video-overlay
      .video-overlay-gradient
      .content
        //h1 GO SERVICE AS
        span Et bredt utvalg av renholdstjenester og tjenestelevering i Bergen og omegn både for private kunder og bedrifter
        .gs-button Les mer
  .post-header.container-fluid
    h2 Hvem er vi
    p Go’ Service AS er et bergensbasert firma som tar seg av alt innen renhold. Vi har et profesjonelt og dyktig renholdsteam som tar jobben sin på alvor. 
      |Våre renholdstjenester i Bergen og omegn er helt fleksible. 
    //a(href="#calculator-section") Priskalkulator
    .icon-bar
      .row
        .col-xs-4.icon-container
          img(src="icons/fornoyd.svg")
          span Fornøyd garanti
        .col-xs-4.icon-container
          img(src="icons/tilgjengelig.svg")
          span 100% Tilgjengelighet
        .col-xs-4.icon-container
          img(src="icons/godkjent.svg")
          span Offentlig godkjent

  #services.container-fluid
    h2 Våre tjenester
    p.services-text Go’ Service AS er en seriøs aktør innen tjenestelevering. Per idag består dette hovedsakelig innen et bredt utvalg av tjenester. Vi utfører de fleste oppdrag innen renhold.
    include ./widgets/services-widget

  section#about
    .container
      .row
        .col-sm-6
          .content-section
            h2 Om oss
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quam erat, feugiat nec sapien in, maximus fermentum nulla. 
              |Duis enim leo, mollis in sem ac, molestie commodo eros. Duis sed ultrices quam. Donec vestibulum, nulla id ultricies vehicula, 
              |mauris tellus finibus enim, eget cursus ex libero sed dolor. Mauris aliquet sem nibh, vitae suscipit metus congue ultrices. 
        .col-sm-6
          img(src="images/vacuum-cleaner.jpg")

  section#fornoyd-garanti
    .container
      .row
        .col-sm-8
          .content-section
            h2 Fornøyd garanti
            p.much-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quam erat, feugiat nec sapien in, maximus fermentum nulla. 
              |Duis enim leo, mollis in sem ac, molestie commodo eros. Duis sed ultrices quam. Donec vestibulum, nulla id ultricies vehicula, 
              |mauris tellus finibus enim, eget cursus ex libero sed dolor. Mauris aliquet sem nibh, vitae suscipit metus congue ultrices. 
        .col-sm-4
          img(src="images/garanti.png")

  section#calculator-section
    .start-container(v-if="!widgetActive")
      transition-group(v-on:after-leave="widgetActive = true" v-on:leave="groupLeave" v-bind:css="false")
        h2(v-if="startActive" key="header" data-index="1") Priskalkulator
        p(v-if="startActive" key="text" data-index="2") Prøv vårt nye interaktive priskalkulator. Finn ut hvor mye det vil koste for deg umiddelbart. 
          |Velg mellom alle våre tjenester og legg til informasjon om arbeidsomfanget, så vil du få en veiledende pris.
        .button(v-if="startActive" @click="startActive = false" key="button" data-index="3").last Start priskalkulator
    include ./widgets/calculator-widget

  section#contact
    .contact-container
      h2 Kontakt oss
      form.contact-content
        .row
          .col-sm-8
            .row
              .col-sm-6
                input(type="text" name="name" placeholder="Navn" required)
              .col-sm-6
                input(type="number" name="phone" placeholder="Telefon")
            .row
              .col-sm-6
                input(type="email" name="email" placeholder="E-post" required)
              .col-sm-6
                input(type="text" name="company" placeholder="Bedrift" required)
            .row
              .col-sm-12
                textarea(name="message" rows="8" placeholder="Melding" required)
            input.button(type="submit" value="Send")
          .col-sm-4
            .contact-person-container
              span.grey Daglig leder
              .info
                .icon.person
                span Andri Andriana
              br
              .info
                .icon.phone
                span 92 09 30 33
              .info
                .icon.mail
                span andri@goserviceas.no
            .contact-person-container
              .info
                span Lilletveitvegen 89 A,
                span 5228 Nesttun
              br
              .info
                span post@goserviceas.no
              .info
                span Org nr. 913 515 749
