extends ./layouts/layout

block content
  header
    .video-container
      video.video(loop muted)
        source(src="videos/video.mp4")
        |no suppor
      .video-overlay
  .post-header
    p Go’ Service AS tar seg av ditt hus rengjøring. 
      |Våre renholdstjenester i Bergen og omegn er helt fleksible. 
      |Du kan velge å ha huset ditt eller kontoret ditt rengjort av oss så ofte du vil. 
      |Prøv vår nye priskalkulator.
    a(href="calculator") Priskalkulator
  .floating-image-container
    img(src="images/pexels1.jpg")
    .content
      h2 GO' SERVICE AS
      p Et bredt utvalg av renholdstjenester og tjenestelevering i Bergen og omegn både for private kunder og bedrifter
      a Våre tjenester
  include ./widgets/services-widget
  #partner-section
    h2 Noen av våre partnere
    .container-fluid
      .partner-logo
        img(src="images/abs.png")
      .partner-logo
        img(src="images/Bergen-Renhold.png")
      .partner-logo
        img(src="images/care.png")
      .partner-logo
        img(src="images/renpluss.png")
      .partner-logo
        img(src="images/bergenflytte.png")
  .fancy-section
    img(src="images/fancy-section.svg")
  #calculator-section
    include ./widgets/calculator-widget


      
