#calculator-section {
    background-color: #F0F0F0;
    padding-bottom: 50px;

    .button {
        display: inline-block;
        border: 2px solid #cccccc;
        padding: 10px;
        margin-right: 5px;
    }
}