#calculator-section {
    padding: 50px 0;

    .start-container {
        position: relative;
        width: 450px;
        height: 500px;
        margin: 0 auto;
        padding: 0 45px;
        border: 2px solid #C5C5C5;

        h2 {
            padding-top: 40px;
        }

        p {
            font-size: 22px;
            font-weight: 100;
            text-align: center;
        }
        .button {
            margin: 50px auto 0;
            text-align: center;
            font-size: 20px;
            color: #44a2cb;
            width: 200px;
            padding: 10px;
            border: 4px solid #C5C5C5;
            cursor: pointer;
        }
    }

    .calculator-widget-container {
        position: relative;
        margin: 0 auto;
        z-index: 5;
        height: 500px;
        width: 450px;
        padding: 15px 0;
        background-color: #3d4853;
        box-shadow: 0 0 50px 0;

        .welcome-screen {
            text-align: center;
            margin-top: 180px;
            font-size: 70px;
            font-weight: 100;
            color: #44a2cb;
        }

        .startOver {
            position: absolute;
            bottom: 10px;
            right: 10px;
            color: #b3b3b3;
            font-size: 10px;
            font-weight: 100;
            cursor: pointer;
        }

        .calculator-widget-content {

            h3 {
                text-align: center;
                font-weight: 100;
                color: #44a2cb;
                padding: 10px 0 40px;
            }
            .button {
                display: block;
                margin: 0 auto 10px;
                width: 50%;
                height: 50px;
                border: 2px solid #FFF;
                border-radius: 5px;
                padding: 10px;
                cursor: pointer;
                text-align: center;
                font-size: 20px;
                font-weight: 100;
                color: #FFF;
                background-color: transparent;

                &.small {
                    width: 35%;
                    font-size: 25px;
                    line-height: 25px;
                    margin-top: 50px;
                }
                &:focus {
                    outline: none;
                }
            }

            .checkboxInput-container {
                position: relative;
                left: 30%;
                margin: 20px 0;

                input[type=checkbox] {
                    visibility: hidden;

                    &:checked + label:after {
                        opacity: 1;
                        animation: check-anim 0.3s linear;
                    }
                }

                label {
                    height: 50px;
                    width: 50px;
                    border: 2px solid #FFF;
                    border-radius: 5px;

                    &:after {
                        content: '';
                        position: absolute;
                        top: -5px;
                        left: 20px;
                        height: 35px;
                        width: 50px;
                        border-left: 7px solid #44a2cb;
                        border-bottom: 7px solid #44a2cb;
                        transform: rotate(-45deg);
                        opacity: 0;
                    }

                    &.hasError {
                        border-color: #ff0033;
                    }
                }

                @keyframes check-anim {
                    0% {
                        height: 0;
                        width: 0;
                        top: 13px;
                        left: 15px;
                    }
                    50% {
                        height: 35px;
                        width: 0;
                        top: 13px;
                        left: 26px;
                    }
                    100% {
                        height: 35px;
                        width: 50px;
                    }
                }

                span {
                    position: absolute;
                    top: 6px;
                    left: 70px;
                    font-size: 25px;
                    font-weight: 100;
                    color: #FFF;
                }
            }

            .textInput-container {
                position: relative;
                .textInput {
                    display: block;
                    font-size: 35px;
                    font-weight: 100;
                    color: #b3b3b3;
                    width: 60%;
                    height: 50px;
                    border: none;
                    border-bottom: 2px solid #cccccc;
                    background-color: transparent;
                    margin: 0 auto 40px;

                    &:focus {
                        outline: none;
                    }
                }

                .enhet {
                    position: absolute;
                    bottom: 90px;
                    right: 90px;
                    font-size: 35px;
                    font-weight: 100;
                    color: #b3b3b3;
                }
            }

            .error {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                color: #ff0033;
            }
            
            .question {
                &.contact {
                    .textInput {
                        font-size: 20px;
                    }
                    input[type="text"] {
                        margin-bottom: 15px;
                    }
                    .textareainput {
                        height: 85px;
                        margin-bottom: 35px;
                    }
                }
                &.summary {
                    .text, .sous {
                        display: inline-block;
                        text-align: right;
                        position: relative;
                        right: 25px;
                        font-weight: 100;
                        width: 50%;
                        color: #fff;
                        //margin-right: 25px;
                        margin-bottom: 5px;
                    }

                    .text {
                        font-size: 20px;
                    }
                    .sous {
                        font-weight: 100;
                        font-size: 18px;
                    }
                    
                    .value {
                        display: inline-block;
                        position: relative;
                        text-align: left;
                        font-weight: 100;
                        left: 25px;
                        width: 50%;
                        font-size: 18px;
                        line-height: 29px;
                        //margin-left: 25px;
                        margin-bottom: 3px;
                        color: #b3b3b3;
                    }
                        
                    .kvm-container {
                        position: relative;
                        display: inline-block;
                        left: 25px;

                        .value {
                            width: auto;
                            left: 0;
                        }
                        .edit {
                            position: absolute;
                            display: inline;
                            top: 8px;
                            left: 100px;
                            font-weight: 100;
                            font-size: 10px;
                            color: darken(#b3b3b3,15%);
                            cursor: pointer;
                        }
                        .edit-Input {
                            width: 70px;
                            background: none;
                            color: #b3b3b3;
                            font-size: 18px;
                            border: none;
                            border-bottom: 1px solid #cccccc;

                            &:focus {
                                outline: none;
                            }
                        }
                    }

                    .mva {
                        display: inline;
                        font-size: 13px;
                    }
                
                    p.nb {
                        float: left;
                        display: block;
                        font-size: 11px;
                        text-align: left;
                        color: #fff;
                        margin: 20px 25px;
                        width: 65%;
                    }
                    .send {
                        position: absolute;
                        bottom: 30px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
        }
        input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
        }
    }        
}