.contact-container {
    max-width: 990px;
    margin: 0 auto 100px;

    h2 {
        padding-top: 100px;
    }

    .contact-content {
        padding: 30px;
        input, textarea {
            display: block;
            margin: 50px auto;
            background-color: transparent;
            border: none;
            border-bottom: 2px solid darken(#C5C5C5, 10%);
            font-size: 20px;
            font-weight: 100;
            color: #797979;

            &:focus {
                outline: none;
            }

            &::-webkit-input-placeholder{
                color: lighten(#797979, 20%);
            }

            &.button {
                margin: 50px 20px;
                width: 200px;
                border: 2px solid darken(#C5C5C5, 10%);
                border-radius: 5px;
            }
        }

        input {
            height: 50px;
            width: 250px;
        }

        textarea {
            width: 570px;
        }

        .contact-person-container {
            margin: 100px 0;
            margin-left: 60px;
            display: block;

            .info {
                .icon {
                    position: relative;
                    top: 3px;
                    left: -5px;
                    display: inline-block;
                    $height: 20px;
                    height: $height;
                    width: 20px;
                    color: #fff;

                    &.phone {
                        background: url('../icons/iphone-icon.svg');
                        background-repeat: no-repeat;
                        background-size: auto $height;
                    }
                    &.person {
                        background: url('../icons/person-icon.svg');
                        background-repeat: no-repeat;
                        background-size: auto $height;
                    }
                    &.mail {
                        background: url('../icons/mail-icon.svg');
                        background-repeat: no-repeat;
                        background-size: auto $height;
                    }
                }
                span {
                    display: inline-block;
                }
            }
            span {
                font-size: 20px;
                display: block;
                color: #797979;

                &.grey {
                    color: darken(#797979, 20%);
                }
            }
        }
    }   
}