body {
    font-family: "open-sans", sans-serif;
    background-color: $gs-background-white;
}

section {
    h2 {
        text-align: center;
        padding: 20px 0 50px;
        margin: 0;
        color: #5f5f5f;
        font-weight: 100;
        font-size: 36px;
    }
}
.post-header {
    margin: 145px;
    text-align: center;
    padding-bottom: 100px;
    border-bottom: 2px solid #c5c5c5;

    h2 {
        font-size: 36px;
        font-weight: 100;
        color: darken(#C5C5C5, 40%);
    }

    p {
        text-align: center;
        font-size: 25px;
        font-weight: 100;
        padding: 30px 220px 50px;
        color: darken(#C5C5C5, 30%);
    }

    a {
        font-size: 18px;
        color: #404040;
        padding: 15px;
        border: 3px solid #404040;
        transition: color .5s, background-color .5s;

        &:hover {
            text-decoration: none;
            background-color: #44a2cb;
            color: #fff;
        }
    }

    .icon-bar {
        margin-top: 50px;

        img {
            width: 80px;
        }

        span {
            display: block;
            color: #797979;
            font-size: 23px;
            font-weight: 100;
            margin-top: 20px;
        }
    }
}

#services {
    margin: 0 145px;
    h2 {
        text-align: center;
        color: darken(#C5C5C5, 40%);
        font-weight: 100;
        font-size: 36px;
    }

    .services-text {
        text-align: center;
        font-size: 25px;
        font-weight: 100;
        padding: 30px 225px 90px;
        color: darken(#C5C5C5, 30%);
    }
}

.widget-card-container {
    display: block;
    margin: 0 auto;
    background-color: #3d4853;
    max-width: 990px;
    padding: 30px 0 0;
    box-shadow: 0 0 50px 0;
}

#partner-section {
    background-color: #3d4853;

    h2 {
        text-align: center;
        padding: 50px 0;
        color: #44a2cb;
        font-weight: 100;
    }

    .container-fluid {
        display: flex;
        justify-content: space-around;
        margin-bottom: 40px;

        .partner-logo {
           img {
               width: auto;
               max-height: 65px;
               
           }
        }
    }
}

.fancy-section {
    position: relative;
    max-width: 100%;
    z-index: 5;
}

#about {
    padding: 150px 0;
    background-color: #fff;

    img {
        position: relative;
        display: block;
        margin: 0 auto;
        height: 500px;
        box-shadow: 0px 0px 25px 0px;
    }
    .content-section {
        p {
            text-align: left;
        }

        h2 {
            padding-top: 0;
        }
    }
}

#why-us {
    padding: 100px 0;
}

#fornoyd-garanti {
    margin: 50px 145px;
    padding-bottom: 50px;
    
    img {
        width: 40%;
        position: relative;
        left: 50%;
        margin-top: 100px;
        transform: translateX(-50%);
    }
}
.content-section {
    margin-left: 100px;
    h2 {
        font-size: 36px;
        text-align: center;
        font-weight: 100;
        color: #5f5f5f;
    }

    p {
        font-size: 25px;
        font-weight: 100;
        color: #797979;
        text-align: center;
    }

    .much-text {
        font-size: 20px;
    }
}

.no-padding {
    padding: 0;
}

.gs-button {
    font-size: 18px;
    color: #44a2cb;
    padding: 15px;
    border: 3px solid #C5C5C5;
    transition: color .5s, background-color .5s;

    &:hover {
        text-decoration: none;
        background-color: #44a2cb;
        color: #fff;
        cursor: pointer;
    }
}
.hr {
    border-color: #c5c5c5;
    border-width: 2px;
}