body {
    font-family: "open-sans", sans-serif;
    background-color: $gs-background-white;
}

section {
    h2 {
        text-align: center;
        padding: 20px 0 50px;
        margin: 0;
        color: #44a2cb;
        font-weight: 100;
    }
}
.post-header {
    margin: 145px;
    text-align: center;

    h2 {
        font-size: 36px;
        font-weight: 100;
        color: $gs-black;
    }

    p {
        text-align: center;
        font-size: 18px;
        font-weight: 100;
        padding: 30px 220px 50px;
    }

    a {
        font-size: 18px;
        color: #404040;
        padding: 15px;
        border: 3px solid #404040;
        transition: color .5s, background-color .5s;

        &:hover {
            text-decoration: none;
            background-color: #44a2cb;
            color: #fff;
        }
    }
}

#services {
    padding: 80px 0 145px;
}

.widget-card-container {
    display: block;
    margin: 0 auto;
    background-color: #3d4853;
    max-width: 990px;
    padding: 30px 0 0;
    box-shadow: 0 0 50px 0;
}

#partner-section {
    background-color: #3d4853;

    h2 {
        text-align: center;
        padding: 50px 0;
        color: #44a2cb;
        font-weight: 100;
    }

    .container-fluid {
        display: flex;
        justify-content: space-around;
        margin-bottom: 40px;

        .partner-logo {
           img {
               width: auto;
               max-height: 65px;
               
           }
        }
    }
}

.fancy-section {
    position: relative;
    max-width: 100%;
    z-index: 5;
}

#about {
    background-color: #3d4853;
    position: relative;
    height: 750px;

    .content-section {
        width: 65%;
    }

    .image-section {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 35%;
        

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

#why-us {
    padding: 100px 0;
}
.content-section {
    padding: 50px 20px;

    h2 {
        text-align: center;
        font-weight: 100;
        color: #44a2cb;
    }

    p {
        margin: 30px 0;
        font-size: 20px;
        font-weight: 100;
        color: #fff;
    }

    span {
        font-size: 20px;
        font-weight: 100;
        color: #fff;
    }

    li {
        font-size: 20px;
        font-weight: 100;
        color: #fff;
    }
}

.no-padding {
    padding: 0;
}

.gs-button {
    font-size: 18px;
    color: #44a2cb;
    padding: 15px;
    border: 3px solid #C5C5C5;
    transition: color .5s, background-color .5s;

    &:hover {
        text-decoration: none;
        background-color: #44a2cb;
        color: #fff;
        cursor: pointer;
    }
}