@mixin transition($property, $duration) {
    -webkit-transition: $property $duration;
    -moz-transition: $property $duration;
    -o-transition: $property $duration;
    transition: $property $duration;
}

@mixin rotate($deg) {
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
    -o-transform: rotate($deg);
    transform: rotate($deg);
}

@mixin translateX($xValue) {
    -webkit-transform: translateX($xValue);
    -moz-transform: translateX($xValue);
    -ms-transform: translateX($xValue);
    -o-transform: translateX($xValue);
    transform: translateX($xValue);
}

@mixin animation($name, $duration) {
    -webkit-animation: $name $duration;
    -moz-animation: $name $duration;
    -o-animation: $name $duration;
    animation: $name $duration;
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-o-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}