@media (min-width: $screen-sm-min) {
    .navbar {
        .navbar-header .navbar-brand {
            font-size: 30px;
        }
        &.affix .navbar-header .navbar-brand {
            font-size: 25px;
        }
    }

    .post-header {
        p {
            font-size: 25px;
            text-align: center;
        }

        .icon-bar .icon-container {
            span {
                font-size: 19px;
            }
            img {
                width: 80px;
            }
        }
    }

    #about {
        img {
            height: 500px;
        }
    }
}