.video-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);

    .video {
        position: absolute;
        top: 50%;
        left: 50%;
        height: auto;
        width: auto;
        transform: translate(-50%, -50%);
    }

    .video-overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(241, 241, 241, 0.4);

        &.less-opacity {
            background: rgba(241, 241, 241, 0.1);
        }
    }
    .video-overlay-gradient {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        visibility: hidden;
        z-index: 11;
    }

    .nav-overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100px;
        width: 100%;
        background: linear-gradient(rgba(241, 241, 241, 0.3) 10%, rgba(241, 241, 241, 0));
    }

    .content {
        display: block;
        position: relative;
        color: #fff;
        top: 50%;
        transform: translateY(-50%);
            
        h1 {
            font-size: 55px;
            color: #409AF1;
            margin-bottom: 20px;
            text-align: left;
        }

        span {
            display: block;
            margin: 0 auto;
            padding: 0 20px;
            font-size: 4.5vw;
            font-weight: 100;
            text-align: center;
            max-width: 700px;
        }
        .gs-button {
            width: 150px;
            font-size: 25px;
            font-weight: 100;
            margin: 50px auto 0;
            text-align: center;
            padding: 8px 15px;
            border-color: #fff;
            color: #fff;
        }
    }
}

header {
    position: relative;

    .mouse-wheel {
        position: absolute;
        bottom: 15px;
        height: 40px;
        display: block;
        left: 50%;
        cursor: pointer;

        img {
            height: 100%;
        }
    }
}


