.video-container {
    position: relative;
    height: 100vh;
    overflow: hidden;

    .video {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: auto;
        transform: translate(-50%, -50%);
    }

    .video-overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        //background-color: #333333;
        background-color: #3D4853;
        opacity: 0.4;
    }
    .nav-overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100px;
        width: 100%;
        background: linear-gradient(rgba(61,72,83, 0.8) 10%, rgba(61,72,83, 0));
        //background: linear-gradient(rgba(255,255,255, 0.8) 10%, rgba(255,255,255, 0));
    }

    .content {
            display: block;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            
            h1 {
                font-size: 60px;
                color: #409AF1;
                margin-bottom: 20px;
            }

            span {
                font-size: 30px;

                &:before {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    bottom: 18px;
                    left: -50px;
                    width: 30px;
                    border-bottom: 2px solid #fff;
                }

                &:after {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    bottom: 18px;
                    right: -50px;
                    width: 30px;
                    border-bottom: 2px solid #fff;
                }
            }
        }
}
