.fade-enter-active, .fade-leave-active {
    transition-property: opacity;
    transition-duration: 1.2s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

.fade-enter-to, .fade-leave {
    opacity: 1;
}

.fade-transform-leave-active {
    transition: opacity 1s .2s ease-in, transform 1s .2s ease-in;
}
.fade-transform-delay-leave-active {
    transition: opacity 1s .7s, transform 1s .7s;
}

.fade-transform-leave-to, .fade-transform-delay-leave-to {
    opacity: 0;
    transform: (0, -30px);
}