.fade-enter-active, .fade-leave-active {
    transition-property: opacity;
    transition-duration: 1.2s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

.fade-enter-to, .fade-leave {
    opacity: 1;
}

.fade-transform-leave-before {
    transition: opacity 1s, transform 1s;
}

.fade-transform-leave-to {
    opacity: 0;
    transform: translateY(-30px);
}