@mixin line-transform($duration) {
    -webkit-transition: height $duration ease;
    -moz-transition: height $duration ease;
    -o-transition: height $duration ease;
    transition: height $duration ease;
}

@mixin rotate($deg) {
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
    -o-transform: rotate($deg);
    transform: rotate($deg);
}

@mixin translateX($xValue) {
    -webkit-transform: translateX($xValue);
    -moz-transform: translateX($xValue);
    -ms-transform: translateX($xValue);
    -o-transform: translateX($xValue);
    transform: translateX($xValue);
}

@mixin animation($name, $duration) {
    -webkit-animation: $name $duration;
    -moz-animation: $name $duration;
    -o-animation: $name $duration;
    animation: $name $duration;
}

.widget-container {
    $animation-duration: 2s;

    $widget-width: 850px;

    width: $widget-width;
    position: relative;
    margin: 0 auto;

    .button-container {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        border: 2px solid #cccccc;
        border-radius: 10px;
        background-color: #fff;
        overflow: hidden;

        .widget-button {
            width: $widget-width/5;
            padding: 25px 0;
            text-align: center;
            font-size: 20px;
            color: #999999;

            &:not(:last-child) {
                border-right: 2px solid #cccccc;
            }

            &:hover {
                cursor: pointer;
                text-decoration: none;
                background-color: darken(#fff, 10%);
            }
        }
    }

    $first-line-top: 82px;
    $first-line-height: 160px - $first-line-top;
    $bottom-line-height: 60px;

    $container-height-after: 340px;
    $container-width-after: $container-height-after*2 + 2px;

    .widget-line {
        position: absolute;
        border-right: 2px solid #cccccc;
        z-index: 1;
    }

    .widget-first-line {
        top: $first-line-top;
        left: 0;
        height: $first-line-height;

        @extend .widget-line;
        @include translateX($widget-width/2);
        @include line-transform($animation-duration/2);

        &.short {
            height: 0;
        }
    }

    .widget-content-container {
        $container-width-before: $container-height-after;
        height: 0px;

        position: absolute;
        top: 330px - 1px;
        left: $widget-width/2 - $container-width-before/2 + 1px;
        width: $container-width-before;
        border-top: 2px solid #cccccc;
        border-bottom: 0px solid #cccccc;
        z-index: -1;
        overflow: hidden;

        @include rotate(90deg);

        &.middle-out {
            top: $first-line-top + $first-line-height;
            left: 85px;
            height: $container-height-after;
            width: $container-width-after;
            border-bottom: 2px solid #cccccc;

            @include rotate(0deg);
        }

        &.middle-out-anim {
            @include animation(middle-out, $animation-duration);
        }

        &.short-anim {
            @include animation(short-anim, $animation-duration);
        }

        .widget-content {
            h3 {
                text-align: center;
                font-size: 30px;
                font-weight: 100;
                color: #44a2cb;
            }

            .text-container {
                height: $container-height-after;
                width: $container-width-after;
                p {
                    padding: 10px 30px;
                    margin: 0;
                    font-size: 17px;
                    color: #4D4D4D;
                    font-weight: 100;
                    line-height: 33px;
                    margin-right: 150px;
                    text-align: justify;
                }
            }
        }
    }

    .widget-bottom-line {
        top: $first-line-height + $container-height-after + $first-line-top;
        left: $widget-width/2;
        height: $bottom-line-height;

        @extend .widget-line;
    }

    .widget-bottom-circle {
        $diameter: 40px;
        position: absolute;
        top: $first-line-top + $first-line-height + $container-height-after + $bottom-line-height;
        left: $widget-width/2 - $diameter/2 + 1px;
        width: $diameter;
        height: $diameter;
        border: 2px solid #cccccc;
        border-radius: 100%;
    }

    @mixin keyframes($name) {
        @-webkit-keyframes #{$name} {
            @content;
        }
        @-moz-keyframes #{$name} {
            @content;
        }
        @-o-keyframes #{$name} {
            @content;
        }
        @keyframes #{$name} {
            @content;
        }
    }

    @include keyframes(middle-out) {
        0% {
            top: 329px;
            height: 0px;
            width: $container-height-after;
            left: 254px;
            border-bottom: 0px solid #cccccc;
            @include rotate(90deg);
        }

        50% {
            @include rotate(0);
            top: 329px;
            left: 254px;
            height: 0px;
            width: $container-height-after;
            border-bottom: 0px solid #cccccc;
        }

        100% {
            top: 160px;
            left: 85px;
            height: $container-height-after;
            border-bottom: 2px solid #cccccc;
        }
    }

    @include keyframes(short-anim) {
        0% {
            top: 160px;
        }

        50% {
            top: 320px;
            height: 0px;
            border-bottom: 0px solid #cccccc;
        }

        100% {
            top: 160px;
            height: $container-height-after;
            border-bottom: 2px solid #cccccc;
        }
    }
}