$animation-duration: 3s;
$widget-width: 850px;
$button-width: $widget-width/5;

#services {
    h2 {
        text-align: center;
        margin-bottom: 60px;
        color: #44A2CB;
        font-weight: 100;
        font-size: 36px;
    }
}

#why-us {
    .text-container {
        &.no-media {
            width: 100%;
            padding-left: 10px;
            padding-right: 10px;

            p {
                margin: 20px auto 0;
            }
        }
    }
}
.widget-container {
    width: $widget-width;
    height: 585px;
    position: relative;
    margin: 0 auto;

    .button-container {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        border: 2px solid #C5C5C5;
        border-radius: 10px;
        overflow: hidden;

        .widget-button {
            width: $button-width;
            padding: 20px 0;
            text-align: center;
            font-size: 20px;
            color: darken(#C5C5C5, 30%);
            transition: background-color .3s;

            &:not(:last-child) {
                border-right: 2px solid #C5C5C5;
            }

            &:hover, &:focus, &.active {
                cursor: pointer;
                text-decoration: none;
                background-color: darken(#EEF1F1, 10%);
            }
        }
    }

    $first-line-top: 70px;
    $first-line-height: 120px - $first-line-top;
    $bottom-line-height: 35px;

    $container-height-after: 340px;
    $container-width-after: $container-height-after*2 + 2px;

    .widget-line {
        position: absolute;
        border-right: 2px solid #C5C5C5;
        z-index: 1;
    }

    .widget-first-line-1, .widget-first-line-2 {
        top: $first-line-top;
        left: 0;
        height: $first-line-height;

        @extend .widget-line;
        transform: translateX($widget-width/2);
        transition: height $animation-duration/2;

        &.short {
            height: 0;
        }
    }

    .widget-content-container {
        $container-width-before: $container-height-after;
        height: 0px;
        z-index: 5;
        background-color: #EEF1F1;

        position: absolute;
        top: 290px - 1px;
        left: $widget-width/2 - $container-width-before/2 + 1px;
        width: $container-width-before;
        border-top: 2px solid #C5C5C5;
        border-bottom: 0px solid #C5C5C5;
        overflow: hidden;

        transform: rotate(90deg);

        #daglig-vask, #periodiske-vask, #gulvbehandling, #flyttevask, #tilleggstjenester,
        #forretningsfilosofi, #tilgjengelighet, #fornoyd-garanti, #offentlig-godkjent, #referanser {
            display: none;

            &.active-section {
                display: block;
            }
        }

        &.middle-out {
            top: $first-line-top + $first-line-height;
            left: 85px;
            height: $container-height-after;
            width: $container-width-after;
            border-bottom: 2px solid #C5C5C5;

            transform: rotate(0deg);
        }

        &.middle-out-anim {
            animation: middle-out $animation-duration;
        }

        &.short-anim {
            animation: short-anim $animation-duration;
        }

        .widget-content {
            position: relative;
            h3 {
                text-align: center;
                font-size: 30px;
                font-weight: 100;
                color: #44a2cb;
                padding-top: 15px;
            }

            .text-container {
                height: $container-height-after;
                width: $container-width-after;
                p {
                    padding: 10px 30px;
                    margin: 0;
                    font-size: 17px;
                    color: darken(#C5C5C5, 30%);
                    font-weight: 100;
                    line-height: 33px;
                    margin-right: 150px;
                    text-align: justify;

                    &.much-text {
                        padding: 0 20px;
                        font-size: 15px;
                        line-height: 28px;
                    }

                    &.very-much-text {
                        font-size: 14px;
                        line-height: 25px;
                    }
                }
            }

            .icon {
                position: absolute;
                top: 50px;
                right: -50px;

                svg {
                    height: 200px;
                }

                &.wide {
                    right: 10px;
                    svg {
                    width: 150px;
                    }
                }
            }

            .media {
                position: absolute;
                top: 90px;
                right: 20px;
                img {
                    max-width: 120px;
                }
            }
        }

        .carousel-container {
            position: relative;

            .carousel-slide {
                display: none;

                &.active {
                    display: block;
                }
            }

            .button {
                position: absolute;
                top: 20px;
                font-size: 20px;
                font-weight: 100;
                color: #c5c5c5;

                &.next {
                    right: 0;
                }

                &.prev {
                    left: 0;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .widget-bottom-line {
        top: 280px;
        left: $widget-width/2;
        height: 215px;

        @extend .widget-line;
    }

    .widget-bottom-circle {
        $diameter: 35px;
        position: absolute;
        top: $first-line-top + $first-line-height + $container-height-after + $bottom-line-height;
        left: $widget-width/2 - $diameter/2 + 1px;
        width: $diameter;
        height: $diameter;
        border: 2px solid #C5C5C5;
        border-radius: 100%;
    }

    @keyframes middle-out {
        0% {
            top: 290px;
            height: 0px;
            width: $container-height-after;
            left: 254px;
            border-bottom: 0px solid #C5C5C5;
            transform: rotate(90deg);
        }

        50% {
            transform: rotate(0);
            top: 290px;
            left: 254px;
            height: 0px;
            width: $container-height-after;
            border-bottom: 2px solid #C5C5C5;
        }

        100% {
            top: 120px;
            left: 85px;
            height: $container-height-after;
            border-bottom: 2px solid #C5C5C5;
        }
    }

    @keyframes short-anim {
        0% {
            top: 120px;
        }

        50% {
            top: 280px;
            height: 0px;
            border-bottom: 2px solid #C5C5C5;
        }

        100% {
            top: 120px;
            height: $container-height-after;
            border-bottom: 2px solid #C5C5C5;
        }
    }
}
